{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.431fb30d-92d6-4cdb-8b48-7f89d1352ad2",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "assignment.CCardtype",
      "type": "java.lang.String"
    },
    ".type.schemaElementQName": {
      "name": ".type.schemaElementQName",
      "value": "javax.xml.namespace.QName",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "ASSIGNMENT.application",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    "fieldOffsetsStr": {
      "name": "fieldOffsetsStr",
      "value": "CCustomerID(0,0)\nCCustomerName(0,0)\nCCustomerACTYPE(0,0)\nCCustomerCardType(0,0)",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "lineSeparator": {
      "name": "lineSeparator",
      "value": "Carriage Return\/Line Feed (windows)",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    ".type.lineLength": {
      "name": ".type.lineLength",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "fillCharacter": {
      "name": "fillCharacter",
      "value": "Space",
      "type": "java.lang.String"
    },
    ".type.colSeparatorParseRule": {
      "name": ".type.colSeparatorParseRule",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.lineSeparator": {
      "name": ".type.lineSeparator",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.formatType": {
      "name": ".type.formatType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.fillCharacter": {
      "name": ".type.fillCharacter",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {"http:\/\/ns.tibco.com\/bw\/palette\/dataformat\/7b31fe20-9179-45b5-a597-2514c682cfd8": {
        "name": "http:\/\/ns.tibco.com\/bw\/palette\/dataformat\/7b31fe20-9179-45b5-a597-2514c682cfd8",
        "value": [],
        "type": "java.util.Collection"
      }},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "ASSIGNMENT",
      "type": "java.lang.String"
    },
    "colSeparator": {
      "name": "colSeparator",
      "value": ",",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 371,
      "type": "java.lang.Long"
    },
    "formatType": {
      "name": "formatType",
      "value": "Delimiter separated",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "colSeparatorParseRule": {
      "name": "colSeparatorParseRule",
      "value": "Treat all characters as entered as a single column separator string",
      "type": "java.lang.String"
    },
    "schemaElementQName": {
      "name": "schemaElementQName",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat\/7b31fe20-9179-45b5-a597-2514c682cfd8}CCustomerDeatails",
      "type": "java.lang.String"
    },
    "lineLength": {
      "name": "lineLength",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.fieldOffsetsStr": {
      "name": ".type.fieldOffsetsStr",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.431fb30d-92d6-4cdb-8b48-7f89d1352ad2",
      "type": "java.lang.String"
    },
    ".type.colSeparator": {
      "name": ".type.colSeparator",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}