{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.431fb30d-92d6-4cdb-8b48-7f89d1352ad2",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}