{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.171b4e83-d8d5-4aee-8a7d-b13adc216bb2",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}